.hidden{
    opacity: 0;
}
.not-active{
    opacity: 0.7;
}
[id^=LEGEND_]{
    cursor: pointer;
}
.highlight{
    opacity: 1;
}
.not-highlight{
    opacity: 0.2;
}
.full-sensitive{
    pointer-events: bounding-box;
}